@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F0F2F5;
  --foreground: #333333;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'HarmonyOS Sans', 'D-DIN-PRO', 'Source Han Sans CN', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #F0F2F5;
}

::-webkit-scrollbar-thumb {
  background: #DBDFE7;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999999;
}
